<a href="https://colab.research.google.com/github/ColeBerning35/module2_intro_to_pandas/blob/main/2_5_advanced_applications_of_dfply_select.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Advanced Applications of Select

In [2]:
!pip install dfply

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dfply
  Downloading dfply-0.3.3-py3-none-any.whl (612 kB)
     |████████████████████████████████| 612 kB 7.9 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from dfply) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from dfply) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->dfply) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->dfply) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->dfply) (1.15.0)
Installing collected packages: dfply
Successfully installed dfply-0.3.3

In [3]:
import pandas as pd
from dfply import *

## Outline

* `select` helper functions
* Basic `filter` format

## Example - Health Survey

In [4]:
survey_raw = pd.read_csv("https://raw.githubusercontent.com/ColeBerning35/module2_intro_to_pandas/main/data/health_survey.csv")
survey_raw.columns

Index(['Unnamed: 0', 'F1', 'F5', 'F2', 'F1.1', 'F2.1', 'F6', 'F4', 'F3',
       'F5.1', 'F1.2', 'F2.2', 'F6.1', 'F2.3', 'F4.1', 'F2.4', 'F5.2', 'F2.5',
       'F6.2', 'F1.3', 'F2.6', 'F5.3', 'F4.2', 'F2.7', 'F3.1', 'F2.8', 'F5.4',
       'F3.2', 'F1.4', 'F3.3', 'F1.5', 'F5.5', 'F6.3', 'F1.6', 'F5.6', 'F2.9',
       'F3.4', 'F4.3', 'F2.10', 'F1.7', 'F6.4', 'F4.4', 'F5.7', 'F3.5',
       'F2.11'],
      dtype='object')

## Renaming columns

Use `rename` to rename one or more columns.

1. Use keyword arguments, i.e. `new_name = old_name`
2. The RHS can be a string or intention.

In [5]:
(survey_raw
 >> rename(id_col = 'Unnamed: 0', f1 = X.F1) 
 >> head
)

,id_col,f1,F5,F2,F1.1,F2.1,F6,F4,F3,F5.1,...,F2.9,F3.4,F4.3,F2.10,F1.7,F6.4,F4.4,F5.7,F3.5,F2.11
0,1,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,2,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree
2,3,Strongly Agree,Neither Agree nor Disagree,Somewhat Agree,Strongly Agree,Strongly Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Strongly Agree,Strongly Disagree,Somewhat Agree
3,4,Somewhat Agree,Somewhat Agree,Strongly Agree,Somewhat Agree,Strongly Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Disagree,Somewhat Agree,...,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Disagree,Somewhat Agree
4,5,Strongly Agree,Strongly Disagree,Neither Agree nor Disagree,Strongly Agree,Somewhat Agree,Strongly Disagree,Strongly Agree,Somewhat Agree,Neither Agree nor Disagree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Strongly Agree,Somewhat Disagree,Somewhat Agree

## Renaming many columns with a `dict`

In [7]:
!pip install composable

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting composable
  Downloading composable-0.2.5-py3-none-any.whl (7.3 kB)
Collecting toolz<0.12.0,>=0.11.1
  Downloading toolz-0.11.2-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.9 MB/s
Collecting python-forge<19.0,>=18.6
  Downloading python_forge-18.6.0-py35-none-any.whl (31 kB)
Installing collected packages: toolz, python-forge, composable
  Attempting uninstall: toolz
    Found existing installation: toolz 0.12.0
    Uninstalling toolz-0.12.0:
      Successfully uninstalled toolz-0.12.0
Successfully installed composable-0.2.5 python-forge-18.6.0 toolz-0.11.2

In [8]:
from composable.strict import map
from composable.sequence import head as head_, to_list

fix_name = lambda n: n.lower().replace('.', '_')

(survey_raw.columns[:10]
 >> map(fix_name)
)

['unnamed: 0', 'f1', 'f5', 'f2', 'f1_1', 'f2_1', 'f6', 'f4', 'f3', 'f5_1']

In [9]:
survey = (survey_raw 
          >> rename(id_col = 'Unnamed: 0', f1 = X.F1) 
          >> rename(**{fix_name(n):n for n in survey_raw.columns}) 
         )
survey.head(2)

,id_col,f1,f5,f2,f1_1,f2_1,f6,f4,f3,f5_1,...,f2_9,f3_4,f4_3,f2_10,f1_7,f6_4,f4_4,f5_7,f3_5,f2_11
0,1,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,2,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree

## Dropping columns with`~`

In [10]:
(survey 
 >> select(~X.f1) 
 >> head(2)
)

,id_col,f5,f2,f1_1,f2_1,f6,f4,f3,f5_1,f1_2,...,f2_9,f3_4,f4_3,f2_10,f1_7,f6_4,f4_4,f5_7,f3_5,f2_11
0,1,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,2,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree

## Dropping multiple columns

In [11]:
from dfply import select
(survey >>
  select(~X.f1, ~X.f2) >>
  head(2)
)

,id_col,f5,f1_1,f2_1,f6,f4,f3,f5_1,f1_2,f2_2,...,f2_9,f3_4,f4_3,f2_10,f1_7,f6_4,f4_4,f5_7,f3_5,f2_11
0,1,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,2,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree

## Dropping columns with `drop`

`dfply.drop` can be used to drop columns.

In [12]:
(survey 
 >> drop(X.f1, X.f2) 
 >> head(2))

,id_col,f5,f1_1,f2_1,f6,f4,f3,f5_1,f1_2,f2_2,...,f2_9,f3_4,f4_3,f2_10,f1_7,f6_4,f4_4,f5_7,f3_5,f2_11
0,1,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,2,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree

## `select` helper based on label content

Filter columns based on content using

* `starts_with(prefix)`: find columns that start with a string prefix.
* `ends_with(suffix)`: find columns that end with a string suffix.
* `contains(substr)`: find columns that contain a substring in their name.

In [13]:
(survey 
 >> select(starts_with('f1')) 
 >> head(2))

,f1,f1_1,f1_2,f1_3,f1_4,f1_5,f1_6,f1_7
0,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree

## `~` composes with `select` helpers

In [14]:
(survey 
 >> select(~starts_with('f1')) 
 >> head(2))

,id_col,f5,f2,f2_1,f6,f4,f3,f5_1,f2_2,f6_1,...,f5_6,f2_9,f3_4,f4_3,f2_10,f6_4,f4_4,f5_7,f3_5,f2_11
0,1,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,2,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,...,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree

## More detail on `select` helpers

`select` helpers are

* Lazy, returning `Intention` instances
* Return a list of string (eventually)

In [15]:
starts_with('f1')

In [16]:
starts_with('f1').evaluate(survey)

['f1', 'f1_1', 'f1_2', 'f1_3', 'f1_4', 'f1_5', 'f1_6', 'f1_7']

## `select` helper based position

* `everything()`: all columns.
* `columns_between(start_col, end_col, inclusive=True)`: find columns between a specified start and end column. The inclusive boolean keyword argument indicates whether the end column should be included or not.
* `columns_to(end_col, inclusive=True)`: get columns up to a specified end column. The inclusive argument indicates whether the ending column should be included or not.
* `columns_from(start_col)`: get the columns starting at a specified column.

In [17]:
(survey 
 >> select(columns_between('f1', 'f1_1')) 
 >> head(2))

               f1                 f5              f2            f1_1
0  Somewhat Agree  Somewhat Disagree  Somewhat Agree  Somewhat Agree
1  Somewhat Agree  Somewhat Disagree  Somewhat Agree  Somewhat Agree

## These helpers work with the `X` intention

In [18]:
(survey 
 >> select(columns_between(X.f1, X['f1_1'])) 
 >> head(2))

               f1                 f5              f2            f1_1
0  Somewhat Agree  Somewhat Disagree  Somewhat Agree  Somewhat Agree
1  Somewhat Agree  Somewhat Disagree  Somewhat Agree  Somewhat Agree

In [19]:
(survey 
 >> select(~columns_between(X.f1, X['f1_1'])) 
 >> head(2))

,id_col,f2_1,f6,f4,f3,f5_1,f1_2,f2_2,f6_1,f2_3,...,f2_9,f3_4,f4_3,f2_10,f1_7,f6_4,f4_4,f5_7,f3_5,f2_11
0,1,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,2,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,...,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree

## <font color="red"> Exercise 1 </font> 

Use the `select` helper functions to create a table that contains all `F2` and `F3` questions.  


**Hint:** `select` helpers return intentions that turn into lists.  Think about how you can combine two lists.

In [22]:
# Your code here
(survey 
 >> select(starts_with('f2'), starts_with('f3')) 
 >> head(2))

,f2,f2_1,f2_2,f2_3,f2_4,f2_5,f2_6,f2_7,f2_8,f2_9,f2_10,f2_11,f3,f3_1,f3_2,f3_3,f3_4,f3_5
0,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree
1,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree